@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #0f0f0f;
    color: #fff;
}

.youtube-search-button {
    background-color: hsla(0, 0%, 100%, 0.08);
}

.icons-bg{
    background-color: hsla(0, 0%, 100%, 0.08);
}

.searchbar-bg{
    background-color: hsl(0,0%,7%);
    border-color: hsl(0,0%,18.82%);
}

.border-color{
    border-color: hsl(0,0%,18.82%);
}

.icon-hover:hover{
    background-color: hsla(0, 0%, 100%, 0.08);
}

.common-bg{
    background-color: hsla(0, 0%, 100%, 0.08);
}

.common-bg:hover{
    background-color:  rgba(255,255,255,0.35);
}

.is-active{
    background-color: #fff;
    color: #0f0f0f;
}

